-#  | # COPYRIGHT HEADER START # 
  |   PasswdLDAP is a Sinatra App that allows users to change their OpenLDAP Password
  |   Copyright (C) 2012 Puzzle ITC GmbH www.puzzle.ch
  |   
  |   This program is free software: you can redistribute it and/or modify
  |   it under the terms of the GNU Affero General Public License as
  |   published by the Free Software Foundation, either version 3 of the
  |   License, or (at your option) any later version.
  |   
  |   This program is distributed in the hope that it will be useful,
  |   but WITHOUT ANY WARRANTY; without even the implied warranty of
  |   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  |   GNU Affero General Public License for more details.
  |   
  |   You should have received a copy of the GNU Affero General Public License
  |   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  | # COPYRIGHT HEADER END # 
 

%script{:type =>'text/javascript', :src => 'pwcheck.js' }
%script{:type =>'text/javascript', :src => 'password_strength_plugin.js' }
%p.info  Set new password for user #{@username}
.form
  %form{ :action => "/change", :method => "post"}
    %table
      %tr
        %td.label
          %label{:for => "newpassword1"} New password:
        %td
          %input{:type => "password", :name => "newpassword1", :class => "password password_check", :autocomplete => "off"}
      %tr
        %td.label
          %label{:for => "newpassword2"} Repeat new password:
        %td
          %input{:type => "password", :name => "newpassword2", :class => "password", :autocomplete => "off"}
      %tr
        %td
        %td
          %input.submit{:type => "submit", :value => "Continue", :class => "button"}

